/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
  }

.container123{
    background-color: #131313 !important;
    
}
.mob_t {
    text-align: center;
    }
 
    a:link { 
        text-decoration: none; 
    } 
    a:hover { 
        text-decoration: none; 
    } 
    